{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Jobs{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12 jobs">
    <h2 class="book headline">iOS Engineer</h2>
    <hr class="hr-press">
    <p>Really into family?  Really into social apps and productivity apps?  Join the Djed iOS engineering team.</p>

    <p>The platform is designed to become a hub for family life, gathering data such as contacts, calendars, notes, photos, health information and shopping lists into one place. Each family can build a "tribe" – a network of trusted family and friends – to share the information with.</p>

    <p>Djed, the family app, is looking for cool, motivated, and talented iOS 8 engineers to work full time in downtown Austin, TX.  Djed is building a revolutionary social productivity app for your family and your extended family:  a private network for your "Tribe."</p>

    <p>Join a company of 14 creative people. Work with talented designers, iOS engineers, back-end engineers, on a beautiful and engaging app for families.  We're innovating and planning to use all of Apple's latest like the Apple Watch, and HealthKit.</p>
    <br>

    <h3>Key Qualifications</h3>

    <ul>
      <li>Bachelor’s or greater in computer science or equivalent is preferred.</li>
      <li>Strong object-oriented programming and design skills.</li>
      <li>Strong knowledge of Objective-C, Xcode, Cocoa and Interface builder.</li>
      <li>2-4 years of professional software development experience.</li>
      <li>2+ years of hands-on iOS experience in a professional environment.</li>
      <li>At least one app published in the App Store.</li>
      <li>Passion for designing and implementing an outstanding consumer application</li>
    </ul>
    <br>

    <h3>Skills</h3>
    <ul>
      <li>Knowledge of Core Data</li>
      <li>Integration with REST APIs.</li>
      <li>Proficient with UIKit.</li>
      <li>Strong attention to detail.</li>
      <li>Excellent communication skills is a must.</li>
    </ul>

    <br>

    <h3>About Djed Studios</h3>
    <p>We are located in Downtown Austin, TX, in a great old building - tall ceilings, brick walls, front-facing windows with natural light.  Everyone gets Aeron Chairs, MacBook Pros, plenty of snacks and drinks, and paid parking.  We are developing a Family App, so we understand and appreciate what it means to have a family - that is our core.  We launched the responsive webapp at SXSW interactive and have just started a large beta test.  Our CEO just presented at SXSW Interactive and we had 4 days of SXSW Open House events showing off the Web Application to the world.  Our Creative Director has an amazing design and vision for our iOS app.</p>
    <p>Salary and benefits commensurate with experience and the industry.  Please email us your resume at <a href="mailto:jobs@djed.com">jobs@djed.com.</a></p>
  </div>
</div>

{% endblock %}
