{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Privacy Policy{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">SXSW: Day Two from The Daily Buzz</h2>
    <span class="meta">This article and its contents originally appeared on KUT.org on March 15, 2015. <a href="http://kut.org/post/sxsw-day-two-daily-buzz" target="_blank">View Original Article.</a></span>
    <hr class="hr-press">
    <p>Today's episode of the Daily Buzz features interviews with directors Kevin Pang and Mark Helenowski and subject Curtis Duffy (For Grace); Directors Alexandria Bombach and Mo Scarpelli (Frame by Frame); Directors Zackery Canepari and Drea Cooper and Claressa "T-Rex" Shields (T-Rex); Directors Lewis Bennett and Calum MacLeod and subject Benjamin Taft (Sandwich Nazi); and Director Ben Powell (Barge).</p>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/195849223&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <p><b><small>Listen to CEO Darren Reid and his wife Carolina Reid at 3:01 and 17:56.</small></b></p>
	<p>Today's co-hosts Kim Voynar, Erik Davies (Fandango) and Jason Whyte (eFilmCritic), lead into the hour with a special Hot Topics Interactive edition to discuss a Star Trek-inspired medical Tricoder to be first unveiled at SXSW (Cloud DX), a 3-D animation app, Plotagon and DJED, a family information management system based right here in Austin, TX. Guests include Robert Kaul (Cloud DX and XPrize finalist), Michelle Plett (Plotagon), and Darren and Carolina Reid (DJED).</p>

	<p><i>The Daily Buzz at SXSW is hosted at the Historic Stateside Theatre in Austin and features interviews with festival filmmakers, interactive and music industry experts, film critics and journalists.</i></p>
  </div>
</div>

{% endblock %}
