{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Privacy Policy{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">SXSWi Presentation: Why Is My Company More Transparent Than My Family?</h2>
    <span class="meta">This presentation and its contents originally appeared at SXSW Interactive on March 13, 2015.</span>
    <hr class="hr-press">
    <script async class="speakerdeck-embed" data-id="26d7dd508d904d9ca26d7d8f3568ca1d" data-ratio="1.33333333333333" src="//speakerdeck.com/assets/embed.js"></script>
    <br>
    <p><a href="https://speakerdeck.com/djed/why-is-my-company-more-transparent-than-my-family" class="meta" target="_blank">View this presentation on Speaker Deck</a></p>
    <p><a href="http://www.slideshare.net/DjedStudios/why-is-my-company-more-transparent-than-my-family-45947377" class="meta" target="_blank">View this presentation on SlideShare</a></p>
    <br>
    <p>Why are we getting so good at creating transparency in the workplace, but still seem to be stumbling around in the dark when it comes to our most important job, our family? At a time when no one person “runs” the family anymore, and everyone is expected to pull their own weight, how can family tech keep up with family living?</p>
    <p>In this serious but not-so-serious presentation, we’ll make the argument that as relatively good people, it’s not actually our intention to be less-than honest with our family, nor is it fun to be the only one in the family holding the burden of information. We just need to find ways that actually make sharing information, and therefore sharing life with these people, more satisfying and less frustrating.</p>
    <p>We’ll present some of the surprising holes in family transparency we found while researching and building Djed, the family app, and talk about how families are changing faster than the technology that's supposed to be making their lives better.</p>
  </div>
</div>

{% endblock %}
