{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Privacy Policy{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">SXSWi Preview: Family App</h2>
    <span class="meta">This article and its contents originally appeared in Stylus on March 11, 2015. <a href="http://www.stylus.com/rzsptq" target="_blank">View Original Article.</a></span>
    <hr class="hr-press">
    <img src="{{'/img/djed_1126_--__w_760_.jpg'|static}}" class="press-photo">
    <p>US start-up Djed Studios will launch a new app for family life at the upcoming South by Southwest (SXSW) technology, film and music festival in Texas, US.</p>
    <p>The platform is designed to become a hub for family life, gathering data such as contacts, calendars, notes, photos, health information and shopping lists into one place. Each family can build a "tribe" – a network of trusted family and friends – to share the information with.</p>
	<p>Djed can be used in a number of different ways, depending on each family's needs, says founder Darren Reid. While a childless couple might use it for things like planning a holiday or money management, larger families might use it to schedule after-school activities, keep track of pocket money, share photos and plan events, he suggests.</p>
	<p>Djed will launch as a web application at SXSW later this week. An iOS version will be made available in the next few weeks, while an Android version is expected later this year.</p>
	<p>From mealtime apps to voice-controlled speakers, a market is opening up for tech tools that help the 21st-century family – which often includes live-in grandparents and boomerang kids – communicate more effectively.</p>
	<p>SXSW runs from March 13-22. Look out for further coverage of this year's event, coming soon. In the meantime, take a look at our Macro Trend Modern Family for more insight into how family life is changing.</p>
  </div>
</div>

{% endblock %}
