{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Privacy Policy{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">“Transparency should be the goal in both business and family life.”</h2>
    <span class="meta">This article excerpt and its contents originally appeared in The Irish Times on March 23, 2015. <a href="http://www.irishtimes.com/business/is-silicon-valley-s-investment-bubble-about-to-burst-1.2147436" target="_blank">View Original Article.</a></span>
    <hr class="hr-press">
    <p>Can you run a family like a business? If so, would you? Should you?</p>

  	<p>Maybe if Gordon Gekko was your granddad. On the surface, it sounds like entrepreneurial zeal might be getting the better of our judgment.</p>

    <p>But in an SXSW Interactive talk entitled, ‘Why is my company more transparent than my family?’ chief executive of family content app DJED, Darren Reid, offered some useful insights into how the two worlds might collide.</p>

    <p>“There are endless tech tools for business to help improve collaboration, tools to get better and faster and cheaper and promote transparency,” he says.</p>

    <p>“To store and retrieve data really fast. To add and remove employees. It’s become so easy to use that most companies don’t even need an IT director anymore.</p>

    <p>“Technology works really well for consumers and for enterprise but family is under-represented.</p>

    <p>“Three out of four people say that family is the most important thing in their life. So where are the tools for that group of people?”</p>

    <p>Transparency, Reid argues, should be the goal in both business and family life.</p>

    <p>But is he comparing apples and oranges?</p>

    <p>Clarity in business helps avoid financial complications and corruption and improve efficiency.</p>

    <p>Family transparency can help with communication and overall harmony. In each case, improved relations is the goal but for very different reasons. There could be some overlap, though, particularly in the realm of finances.</p>

    <p>Using a quote from Psychology Today in 2012, Reid makes the case for opening up families to more financial pellucidity: “Couples fight about many things – from child rearing to sex, to household chores, to dealing with in-laws. But above everything else, frequency of money disputes remains the single best predictor of divorce.”</p>

    <p>“Financial issues are the main reasons why spouses break up,” he says.</p>

    <p>“Couples are more likely to know each other’s weight than their salaries. Why? Because money is taboo and talking about it embarrasses people. But it shouldn’t be, particularly between spouses.”</p>

    <p>For this reason, Reid argues that family budgeting should be approached in exactly the same way a company might run its finances. “A good financial system needs to be available to everyone in the family which is simple, has a good balance sheet, profit and loss statements and rough budgeting.”</p>

    <p>Reid also recommends recording and collecting data on family experiences in much the same way as a business might. “Keeping records of business activity allows us to shift deadlines, avoid wasting resources, and make more informed decisions,” he says.</p>

    <p>“The same approach could also be applied in the family setting.”</p>

    <p>He goes as far as suggesting a wiki for families. “Digital information should be able to equip us with tools to help reduce the amount of friction in our families, the same way it does in business.”</p>

  </div>
</div>

{% endblock %}
