{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Privacy Policy{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">Djed App To Organize Your Life and Family</h2>
    <span class="meta">This article and its contents originally appeared in The Baby Spot on March 26, 2015. <a href="http://thebabyspot.ca/djed-app-to-organize-your-life-and-family/" target="_blank">View Original Article.</a></span>
    <hr class="hr-press">
    <p>Are you looking for a private way to share the important details: calendars, pictures, videos and life events with your family members? DJED app has the answer for you and your family!</p>

  	<p>Djed has created an application for the whole family and has allowed the family to connect with relatives and other families. This is a unique system for social productivity for your family by combining features such as lists, calendars and photos so you and you family can share and ultimately stay connected.</p>

    <p>Not only does the Djed app combines features for family productivity but also tells your families amazing story of your life together. With Djed, you can remember your son scoring that winning goal and what the score was, the weather was like and see pictures that accompany the game. Sometimes, memories fade but with Djed, you can remember those timeless moments in your families lives and share them with grandparents, uncles, aunts, cousins and close friends.</p>

    <p>Djed is a private app that uses the same privacy applications as major banks. Rest assured, your families private moments, your personal codes and passwords are stored safely and securely.</p>

    <p>Do you have that one family member that is the gate keeper to all of your family history and information? Are you the person who has to remember if your great aunt had a heart attack in her fifties or who married who when? Health information, pictures, last testaments and will information can be stored safely on Djed so your family can access this important information quickly.</p>

    <p>When it comes to your son’s allergy information or your daughter’s medications when they sleep and their grandparents overnight, this information that is easy to use can be, infact, lifesaving. Djed is trail blazing the way we think about family information, while not depending on that one family member for all of the information.</p>

    <p>Believe, it, this app is global and is quickly being translated into multiple languages! It is also a free app this year so sign up <a href="http://www.djed.com" target="_blank">immediately here</a>. Djed promises to adapt to the changing times, yet keeping it simple for all users!</p>

  </div>
</div>

{% endblock %}
