{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Privacy Policy{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">Djed Inc. To Beta Launch Revolutionary New Family App During SXSW March 13</h2>
    <p>At Djed here's how we think about privacy:</p>
    <p>Family privacy means I want my family to be left alone, not advertised to, not manipulated as part of an online experiment.  It means I don’t want my family’s data sold to a third party.</p>
    <p>We're created an application that your family controls. You decide who sees medication information, notes about parent-teacher meetings, or photos and videos about sports and dance recitals and trips to Costa Rica.</p>
    <p>We've created a tool that allows us to move the information off our computers and phones and dozens of other places and into a safe cloud infrastructure hosted by the world's leading provider, Amazon Web Services.</p>
    <p>In exchange for this Djed will let families try out the product for free for a while, then ask families to pay a small subscription every month, but give families a way to cancel anytime if we aren't the right solution.</p>
  </div>
</div>

{% endblock %}
