{% extends 'src/html/base.html' %}

{% block 'title' %}Djed | Press{% endblock %}

{% block 'submark' %}
{% include 'node_modules/djed/marketing/components/submark.html' %}
{% endblock %}

{% block 'content' %}

</div>

<div class="row">
    <div class="columns columns-full">
        <h2 class="book headline">Press</h2>
        <p>March 2015</p>
    </div>
</div>


<div class="row mobile-center press-row">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/press-babyspot.png'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/26/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-26-2015.html">Djed App To Organize Your Life and Family</a>
            <br>
            "Are you looking for a private way to share the important details: calendars, pictures, videos and life events with your family members? DJED app has the answer for you and your family!"
        </div>
    </div>
</div>

<div class="row mobile-center press-row">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/press-irish.svg'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/23/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-23-2015.html" class="press">“Transparency should be the goal in both business and family life.”</a>
            <br>
            "Can you run a family like a business? In an SXSW Interactive talk entitled, ‘Why is my company more transparent than my family?’ chief executive of family content app DJED, Darren Reid, offered some useful insights into how the two worlds might collide.
        </div>
    </div>
</div>

<div class="row mobile-center press-row">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/press-adweek.png'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/18/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-18-2015.html" class="press">Mobile App Roundup: SXSW 2015 Edition</a>
            <br>
            "Djed is a product designed for families, with a mobile and desktop application used for cataloging and sharing all of a family’s vital information, from health and financial information to school projects, sporting events, trips and more."
        </div>
    </div>
</div>

<div class="row mobile-center press-row">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/press-kut.png'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/15/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-15-2015.html" class="press">SXSW: Day Two from The Daily Buzz</a>
            <br>
            "Today's co-hosts Kim Voynar, Erik Davies (Fandango) and Jason Whyte (eFilmCritic), lead into the hour with a special Hot Topics Interactive edition to discuss ... DJED, a family information management system based right here in Austin, TX."
        </div>
    </div>
</div>

<div class="row mobile-center press-row">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/press-sxsw.svg'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/13/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-13-2015.html" class="press">SXSWi Presentation: Why Is My Company More Transparent Than My Family?</a>
            <br>
            "Why are we getting so good at creating transparency in the workplace, but still seem to be stumbling around in the dark when it comes to our most important job, our family?""
        </div>
    </div>
</div>

<div class="row mobile-center press-row">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/press-stylus.jpg'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/11/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-11-2015.html" class="press">SXSWi Preview: Family App</a>
            <br>
            "US start-up Djed Studios will launch a new app for family life at the upcoming South by Southwest (SXSW) technology, film and music festival in Texas, US."
        </div>
    </div>
</div>

<div class="row mobile-center">
    <div class="columns columns-full large-1 medium-2 small-12">
        <img src="{{'/img/djed-logo.svg'|static}}" class="press-logo">
    </div>
    <div class="columns large-2 medium-3 small-12">
        3/2/2015
    </div>
    <div class="columns large-9 medium-7 small-12">
        <div class="press"><a href="releases/03-02-2015.html">Djed To Beta Launch Revolutionary New Family App During SXSW March 13</a>
            <br>
            "CEO and founder Darren Reid has envisioned Djed “for more than ten years,” he recalls. Reid is a start-up veteran who has built and sold several enterprise application businesses over the past 25 years."
        </div>
    </div>
</div>



<!--
<div class="row">
  <div class="columns columns-full large-12">
    <h2 class="book headline">Press</h2>
    <p>March 2015</p>
    <div class="press"><a href="releases/03-02-2015.html">Djed To Beta Launch Revolutionary New Family App During SXSW March 13</a></div>
    <div class="press"><a href="releases/03-11-2015.html" class="press">SXSWi Preview: Family App</a></div>
    <div class="press"><a href="releases/03-13-2015.html" class="press">SXSWi Presentation: Why Is My Company More Transparent Than My Family?</a></div>
    <div class="press"><a href="releases/03-15-2015.html" class="press">SXSW: Day Two from The Daily Buzz</a></div>
    
    <hr class="hr-contact">
    <p>March 2015</p>
    <a href="releases/03-02-2015.html">Djed Inc. To Beta Launch Revolutionary New Family App During SXSW March 13</a>
    <br>
    <a href="releases/03-11-2015.html">SXSWi Preview: Family App</a>
-->
  </div>


{% endblock %}
