{% extends 'src/html/base.html' %}

{% block 'content' %}

{% include 'node_modules/djed/marketing/components/slider.html' with content %}

{% include 'node_modules/djed/marketing/components/product-shot.html' with content %}

<hr>

{% include 'node_modules/djed/marketing/components/privacy-example.html' with content %}

<hr class="hr-privacy">

{% include 'node_modules/djed/marketing/components/feature-summary.html' with content %}

<hr>

{% include 'node_modules/djed/marketing/components/request-invite.html' with content %}

{% endblock %}
