{% extends 'src/html/base.html' %}

{% block 'content' %}

{% include 'node_modules/djed/marketing/components/slider.html' with content %}

{% include 'node_modules/djed/marketing/components/product-shot.html' with content %}

<hr>

{% include 'node_modules/djed/marketing/components/privacy-example.html' with content %}

<hr class="hr-privacy">

<div class="row">
  <div class="columns large=-12">
    <h2 class="padding-bottom-50 center">Features at a glance</h2>
  </div>
</div>

<div class="row center features">
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-calendar.svg'|static}}">
    <h3>Calendar</h3>
    <p>For flights, check-ins, and the family itinerary.</p>
  </div>
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-contact.svg'|static}}">
    <h3>Contacts</h3>
    <p>For rentals, hotels, and the name of that really good restaurant.</p>
  </div>
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-photos.svg'|static}}">    
    <h3>Photos</h3>
    <p>For photo albums and videos of the people and places.</p>
  </div>
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-note.svg'|static}}">    
    <h3>Notes</h3>
    <p>For taking note of all the details and the things we can't forget.</p>
  </div>
</div>

<div class="row center features">
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-document.svg'|static}}">
    <h3>Documents</h3>
    <p>For the passport, the travel visa, the itinerary and insurance.</p>
  </div>
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-list.svg'|static}}">
    <h3>Lists</h3>
    <p>For what to pack, the swimsuits, the extra pair of socks, the travel snacks, and the beach bag.</p>
  </div>
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-story.svg'|static}}">    
    <h3>Stories</h3>
    <p>For the the story about dinner on the beach, and the last night of the trip.</p>
  </div>
  <div class="columns large-3 medium-3 small-6 feature">
    <img src="{{'/img/icon-share.svg'|static}}">    
    <h3>Sharing</h3>
    <p>For sharing with parents, siblings, and the whole family.</p>
  </div>
</div>


<hr>

{% include 'node_modules/djed/marketing/components/request-invite.html' with content %}

{% endblock %}
